<div class="columns">
    {% for style in styles %}
        <div class="column is-3">
            {% include "partials/style-guide/swatch.html.twig" with {
            swatchType: swatchType,
            typeClass: style
            } only %}
        </div>
    {% endfor %}
</div>
