{% set formTemplate = 'partials/forms/contact-form.html.twig' %}
<section class="contact is-fullheight">
    <div class="columns">
        <div class="container column is-8 is-bg-blue-light">
            <div class="form-container">
                <h2>Please use the form below to contact us with any questions or comments you may have.</h2>
                <form method="" action="">
                    {% include formTemplate only %}
                </form>
            </div>
        </div>

        <aside class="column is-4 is-narrow-mobile is-fullheight section">
            <h2>Lakewood Ranch Commercial</h2>
            <p><strong>LWR Commercial Realty</strong><br>14400 Covenant Way Lakewood Ranch, FL 34202</p>
            <p>Phone: <a href="tel:9419076677">941.907.6677</a></p>
            <p><strong>Hours:</strong><br>
                Mon. - Fri 9:00 am - 5:30 pm EST<br>
                Sat. - Sun 10:00 am - 6:00 pm EST</p>
            <h2>Commercial Contacts</h2>
            <p><strong>Jennifer Snow</strong><br>Title of the Person</p>
            <p><a href="mailto:">jsnow@lwrcommercial.com</a><br>
            <a href="tel:">555.555.5555</a></p>
        </aside>
    </div>
</section>