<!-- Templates -->
{% set buttonTemplate = 'partials/elements/button.html.twig' %}

<!-- Classes -->
{% set buttonClass = 'is-primary' %}

<section class="contact-cta">
    <div class="container">
        <h2>{{ page.header.title }}</h2>
        {{ content }}
        {% include buttonTemplate with { content: page.header.contact.label, class: buttonClass, href: page.header.contact.link } only %}
    </div>
</section>