{# Templates #}
{% set buttonTemplate = 'partials/elements/button.html.twig' %}
{% set featuredProjectTemplate = 'partials/featured-project.html.twig' %}

{# Labels #}
{% set buttonLabel = 'View All Properties' %}

{# Classes #}
{% set buttonClass = 'is-primary' %}

{# Vars #}
{% set propTitle = 'Name of property goes here - Lot 10 $1,300,000' %}
{% set propSubTitle = 'FPO: Text callout development site' %}
{% set propDetails = '5 Acres | Raw Land | For Sale | $15 PS' %}
{% set propImg = 'https://bulma.io/images/placeholders/640x480.png' %}

{# Routes #}
{% set mapUrl = '/map' %}


<featured-projects inline-template>
    <section class="featured-projects">
        <div class="container">

            <h2 class="has-text-centered">Featured Projects</h2>

            <div class="columns is-variable is-9">

                <div class="column card">
                    <featured-project :model="first" inline-template>
                        {% include featuredProjectTemplate with {
                            propImg: propImg,
                            propTitle: propTitle,
                            propSubTitle: propSubTitle,
                            propDetails: propDetails
                        } only %}
                    </featured-project>
                </div>

                <div class="column card">
                    <featured-project :model="second" inline-template>
                        {% include featuredProjectTemplate with {
                            propImg: propImg,
                            propTitle: propTitle,
                            propSubTitle: propSubTitle,
                            propDetails: propDetails
                        } only %}
                    </featured-project>
                </div>

                <div class="column card">
                    <featured-project :model="third" inline-template>
                        {% include featuredProjectTemplate with {
                            propImg: propImg,
                            propTitle: propTitle,
                            propSubTitle: propSubTitle,
                            propDetails: propDetails
                        } only %}
                    </featured-project>
                </div>

            </div>

            <div class="is-center">
                {% include buttonTemplate with { content: buttonLabel, class: buttonClass, href: mapUrl } only %}
            </div>

        </div>

    </section>
</featured-projects>
