{# Templates #}
{% set buttonTemplate = 'partials/elements/button.html.twig' %}
{% set featuredProjectTemplate = 'partials/featured-project.html.twig' %}

{# Labels #}
{% set buttonLabel = 'View All Properties' %}

{# Classes #}
{% set buttonClass = 'is-primary' %}

{# Vars #}
{% set propTitle = 'Name of property goes here - Lot 10 $1,300,000' %}
{% set propSubTitle = 'FPO: Text callout development site' %}
{% set propDetails = '5 Acres | Raw Land | For Sale | $15 PS' %}
{% set propImg = 'https://bulma.io/images/placeholders/640x480.png' %}



<section class="featured">
    <div class="container">

        <h2 class="has-text-centered">Featured Projects</h2>

        <div class="columns is-variable is-9">

            <div class="column card">
                {% include featuredProjectTemplate with {
                    id: 1234,
                    propImg: propImg,
                    propTitle: propTitle,
                    propSubTitle: propSubTitle,
                    propDetails: propDetails
                } only %}
            </div>

            <div class="column card">
                {% include featuredProjectTemplate with {
                    id: 4321,
                    propImg: propImg,
                    propTitle: propTitle,
                    propSubTitle: propSubTitle,
                    propDetails: propDetails
                } only %}
            </div>

            <div class="column card">
                {% include featuredProjectTemplate with {
                    id: 1111,
                    propImg: propImg,
                    propTitle: propTitle,
                    propSubTitle: propSubTitle,
                    propDetails: propDetails
                } only %}
            </div>

        </div>
        
        <div class="is-center">
            {% include buttonTemplate with { content: buttonLabel, class: buttonClass  } only %}
        </div>

    </div>

</section>
