<section class="hero lwrc">
    <div class="hero-body">
        <div class="container">
            <h1 class="type__hero--headline">
                {{ page.header.hero.headline }}
            </h1>
            <p class="hero-p type__hero--content">
                {{ page.header.hero.content }}
            </p>
        </div>
    </div>
</section>