{# Featured Image // last image uploaded for now #}
{% set rowImage = page.media[page.header.hero.backgroundName].url %}

<section class="hero lwrc" {% if rowImage %} style="background-size:cover; background-image: url('{{ rowImage }}')" {% endif %}>
    <div class="hero-body">
        <div class="container is-fluid">
            <h1 class="type__hero--headline">
                {{ page.header.hero.headline }}
            </h1>
            <p class="hero-p type__hero--content">
                {{ page.header.hero.content }}
            </p>
        </div>
    </div>
</section>