{# Vue sortable tables component -
https://www.npmjs.com/package/vue-bulma-tables-2
https://github.com/daenuprobst/vue-tables-2#vue-component
#}
<section class="property-info-table">
    <div class="container">
        <table class="table is-fullwidth is-bordered">
        <thead>
            <tr>
            <th>Properties</th>
            <th>Acres</th>
            <th>Price per sq. ft.</th>
            <th>PDI</th>
            <th>Parcel ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>$1,300,00</td>
            <td>5.0</td>
            <td>$15.00</td>
            <td>Applicable uses</td>
            <td>1233455</td>
            </tr>
        </tbody>
        </table>
    </div>
</section>