<section class="property-accordion">
    <div class="container">
        <div class="tab">
            <input id="tab-one" type="checkbox" name="tabs">
            <label for="tab-one">Item One</label>
            <div class="tab-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
            </div>
        </div>
        <div class="tab">
            <input id="tab-two" type="checkbox" name="tabs">
            <label for="tab-two">Item Two</label>
            <div class="tab-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
            </div>
        </div>
        <div class="tab">
            <input id="tab-three" type="checkbox" name="tabs">
            <label for="tab-three">Item Three</label>
            <div class="tab-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
             </div>
         </div>
    </div>
<section>