{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
    {% block head %}
        {%- include 'partials/head.html.twig' -%}
        {%- include 'partials/svg-sprite.html.twig' -%}
    {% endblock %}
</head>
<body class="{{ page.header.body_classes }}">

    {% set gtmMetaKey = 'gtm-id' %}
    {% set gtmNoScriptTemplate = 'partials/gtmNoScript.html.twig' %}
    {% for meta in page.metadata %}
         {% if meta.name == gtmMetaKey %}
             {% include gtmNoScriptTemplate with { id: meta.content } only %}
        {% endif %}
    {% endfor %}

    <h1>{{ page.config.ArcGIS.arc-gis-feature-server }}</h1>

    {# Wrapping our content in #app to allow vue components #}
    <div id="app">
        <page-state inline-template>
            <div class="page-state-wrapper">
                {%- include 'partials/navbar.html.twig' -%}

                {% block content %}{% endblock %}

                {%- include 'partials/footer.html.twig' -%}
            </div>
        </page-state>
    </div>

    {% block bottom %}
        {{ assets.js('bottom') }}
    {% endblock %}

</body>
</html>
