{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
    {% block head %}
        {%- include 'partials/head.html.twig' -%}
        {%- include 'partials/svg-sprite.html.twig' -%}
    {% endblock %}
</head>
<body class="{{ page.header.body_classes }}">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBNH6NN"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {# Wrapping our content in #app to allow vue components #}
    <div id="app">
        <page-state inline-template>
            <div class="page-state-wrapper">
                {%- include 'partials/navbar.html.twig' -%}

                {% block content %}{% endblock %}

                {%- include 'partials/footer.html.twig' -%}
            </div>
        </page-state>
    </div>

    {% block bottom %}
        {{ assets.js('bottom') }}
    {% endblock %}

</body>
</html>
