<div class="card {{ cardClass }}">
    <div class="card-image">
        {% block card_image %}{% endblock %}
    </div>
    <div class="card-content">
        {% block card_content %}{% endblock %}
    </div>
</div>
