<div class="card {{ cardClass }}">
    <div class="card-image">
        {% block card_image %}{% endblock %}
    </div>
    <div class="card-content">
        <div class="content">
            {% block card_content %}{% endblock %}
        </div>
    </div>
</div>
