<label class="checkbox {{ inputClass }}">
    <input type="checkbox" {% if disabled %} disabled{% endif %}{% if checked %} checked{% endif %}>
    {{ label }}
    <span class="checkmark"></span>
</label>
