<div class="range-slider">
    <span class="rangeValues"><output>${sliderOutput}</output></span>
    <div class="range"
         :data-min-value="minSliderValue"
         :data-max-value="maxSliderValue"
         :data-step="sliderStep">
        <div :class="sliderAClass"
             draggable="true"
             @dragstart="sliderDragstartHandler"
             @drag="sliderDragHandler"
             @dragend="sliderDragendHandler"
             :data-value="valueSliderA"
             :style="sliderAStyle"></div>
        <div :class="sliderBClass"
             draggable="true"
             @dragstart="sliderDragstartHandler"
             @drag="sliderDragHandler"
             @dragend="sliderDragendHandler"
             :data-value="valueSliderB"
             :style="sliderBStyle"></div>
    </div>
</div>
