<div class="range-slider">
    <span class="rangeValues"><output>${sliderOutput}</output></span>
    <div class="range"
         :data-min-value="minSliderValue"
         :data-max-value="maxSliderValue"
         :data-step="sliderStep">
        <div class="slider-a"
             @click="sliderAChangeHandler"
             :data-value="valueSliderA"
             :style="sliderAStyle"></div>
        <div class="slider-b"
             @click="sliderBChangeHandler"
             :data-value="valueSliderB"
             :style="sliderBStyle"></div>
    </div>
</div>
