<div class="range-slider">
    <div id="no-ui-slider"></div>
    {#<span class="rangeValues"><output>${sliderOutput}</output></span>#}
    {#<div class="range"#}
         {#:data-min-value="minSliderValue"#}
         {#:data-max-value="maxSliderValue"#}
         {#:data-step="sliderStep">#}
        {#<div :class="sliderAClass"#}
             {#draggable="true"#}
             {#:data-value="valueSliderA"#}
             {#:style="sliderAStyle"></div>#}
        {#<div :class="sliderBClass"#}
             {#draggable="true"#}
             {#:data-value="valueSliderB"#}
             {#:style="sliderBStyle"></div>#}
    {#</div>#}
</div>
