<div class="select {{ inputClass }}">
    <select>
        {% for option in options %}
            <option value="{{ option.value }}"
                    {% if option.selected %} selected{% endif %}
                    {% if option.disabled %} disabled{% endif %}>{{ option.text }}</option>
        {% endfor %}
    </select>
</div>
