{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="hero lwrc nofound">
    	<div class="hero-body">
    		<div class="container is-fluid">
			    <h1 class="type__hero--headline">
			        404 Error
			    </h1> 
			    <p class="hero-p type__hero--content">
			        Page Not Found
			    </p>
			</div>
		</div>
	</section>
{% endblock %}
