{% extends "partials/base.html.twig" %}

{% set filterTemplate =  'partials/properties/filter.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="https://js.arcgis.com/4.4/esri/css/main.css">
{% endblock %}

{% block content %}
    {% include filterTemplate with {} only %}
    <arcmap inline-template>
        <div class="arc-map-container">
            <div id="mapNode"></div>
        </div>
    </arcmap>
{% endblock %}

{% block bottom %}
    {{ parent() }}
{% endblock %}
