{% extends 'partials/base.html.twig' %}

{# Templates #}
{% set heroTemplate = 'modular/hero.html.twig' %}
{% set galleryTemplate = 'components/property-image-gallery.html.twig' %}
{% set headerTemplate = 'components/property-header.html.twig' %}
{% set infoTableTemplate = 'components/property-info-table.html.twig' %}
{% set descriptionTemplate = 'components/property-description.html.twig' %}
{% set accordionTemplate = 'components/accordion.html.twig' %}

{# Content #}
{% set loadingHeadline = 'Loading Property Details' %}
{% set notFoundHeadline = 'Property Not Found' %}

{# External Styles #}
{% set esriMapCSS = 'https://js.arcgis.com/4.4/esri/css/main.css' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ esriMapCSS }}">
{% endblock %}

{% block content %}
    <property-detail :id="urlParts[4]" inline-template>
        <div :class="propertyDetailClass">
            <div class="property-details">
                <property-image-gallery
                    :images="propertyImages"
                    inline-template>
                    {%- include galleryTemplate with {} only -%}
                </property-image-gallery>
                <property-header
                    :date-available="propertyDateAvailable"
                    :id="propertyId"
                    :title="propertyHeaderTitle"
                    :uses="propertyUses"
                    inline-template>
                    {%- include headerTemplate with {} only -%}
                </property-header>
                <property-info-table
                    :columns="propertyInfoTableColumns"
                    :models="propertyInfoTableModels"
                    inline-template>
                    {%- include infoTableTemplate with {} only -%}
                </property-info-table>
                <property-description
                    :description="propertyDescription"
                    :id="propertyId"
                    inline-template>
                    {%- include descriptionTemplate with {
                        arcmap: page.header.arcmap,
                        contactName: page.header.contact.name,
                        contactPhoneNumber: page.header.contact.phone
                    } only -%}
                </property-description>
                <accordion
                    :tabs="propertyTabs"
                    inline-template>
                    {%- include accordionTemplate with {} only -%}
                </accordion>

                {% for module in page.collection() %}
                    {{ module.content }}
                {% endfor %}
            </div>
        </div>
    </property-detail>
{% endblock %}
