{% extends 'partials/base.html.twig' %}

{% block content %}

    <div v-if="urlParams.id">
        {% include 'components/property-gallery.html.twig' %}
        {% include 'components/property-header.html.twig' %}
        {% include 'components/property-info-table.html.twig' %}
        {% include 'components/property-description.html.twig' %}
        {% include 'components/property-accordion.html.twig' %}

        {% for module in page.collection() %}
            {{ module.content }}
        {% endfor %}
    </div>

    <div v-if="!urlParams.id">
        <h1>Property not found with id: ${urlParams.id}</h1>
    </div>
{% endblock %}
