{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">

                <div class="columns">
                    <div class="column content">
                        {{ page.content }}
                    </div>
                </div>

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Named Colors',
                swatchType: 'color',
                rows: [
                [
                'is-bg-blue-dark',
                'is-bg-blue-light',
                'is-bg-blue-tiffany',
                'is-bg-gold'
                ],
                [
                'is-bg-gold-light',
                'is-bg-cream',
                'is-bg-olive',
                'is-bg-white'
                ],
                [
                'is-bg-black'
                ]
                ]
                } %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Contextual Colors',
                swatchType: 'color',
                rows: [
                [
                'is-bg-primary',
                'is-bg-info',
                'is-bg-success',
                'is-bg-warning'
                ],[
                'is-bg-danger',
                'is-bg-light',
                'is-bg-dark'
                ]
                ]
                } %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Fonts',
                swatchType: 'type',
                rows: [
                [
                'is-proxima-nova-bold',
                'is-proxima-nova-regular',
                'is-eames-century-modern-regular'
                ],
                [
                'is-family-sans-serif',
                'is-family-serif'
                ]
                ]
                } %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Nav Typography',
                swatchType: 'type',
                rows: [
                [
                'type__nav-item-label',
                'type__hero-content'
                ]
                ]
                } %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Hero Typography',
                swatchType: 'type',
                rows: [
                [
                'type__hero-headline',
                'type__hero-content'
                ]
                ]
                } %}


                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Featured Projects Typography',
                swatchType: 'type',
                rows: [
                [
                'type__featured-projects-headline'
                ]
                ]
                } %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Featured Project Typography',
                swatchType: 'type',
                rows: [
                [
                'type__featured-project-title',
                'type__featured-project-callout',
                'type__featured-project-details'
                ]
                ]
                } %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Primary CTA Typography',
                swatchType: 'type',
                rows: [
                [
                'type__primary-cta'
                ]
                ]
                } %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Content Tile Typography',
                swatchType: 'type',
                rows: [
                [
                'type__content-tile-primary-heading',
                'type__content-tile-secondary-heading',
                'type__content-tile-tile-content'
                ]
                ]
                } %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Callout Typography',
                swatchType: 'type',
                rows: [
                [
                'type__callout-heading',
                'type__callout-content'
                ]
                ]
                } %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Contact Us Section Typography',
                swatchType: 'type',
                rows: [
                [
                'type__contact-us-section-heading',
                'type__contact-us-section-content'
                ]
                ]
                } %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Footer Signup Typography',
                swatchType: 'type',
                rows: [
                [
                'type__footer-signup-heading',
                'type__footer-signup-content'
                ]
                ]
                } %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Footer Links Typography',
                swatchType: 'type',
                rows: [
                [
                'type__footer-links'
                ]
                ]
                } %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Footer Copy Typography',
                swatchType: 'type',
                rows: [
                [
                'type__footer-copy'
                ]
                ]
                } %}

            </div>
        </div>
    </div>
{% endblock %}
