{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">

                <div class="columns">
                    <div class="column content">
                        <h1>Style Guide</h1>
                        <hr>
                        {{ page.content }}
                    </div>
                </div>

                {% include 'partials/style-guide/section.html.twig' with {
                columnClass: 'is-6',
                sectionTitle: 'Logos',
                swatchType: 'icon',
                rows: [
                [
                'icon__logo--header',
                'icon__logo--footer'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Icons',
                swatchType: 'icon',
                rows: [
                [
                'icon__arrow-back',
                'icon__arrow-forward',
                'icon__favorite',
                'icon__favorite-selected'
                ],[
                'icon__favorite-unselected',
                'icon__filter',
                'icon__grid',
                'icon__hamburger-nav'
                ],[
                'icon__link',
                'icon__mail',
                'icon__map'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Named Colors',
                swatchType: 'color',
                rows: [
                [
                'is-bg-blue-dark',
                'is-bg-blue-light',
                'is-bg-blue-tiffany',
                'is-bg-gold'
                ],
                [
                'is-bg-gold-light',
                'is-bg-cream',
                'is-bg-olive',
                'is-bg-white'
                ],
                [
                'is-bg-black'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Contextual Colors',
                swatchType: 'color',
                rows: [
                [
                'is-bg-primary',
                'is-bg-info',
                'is-bg-success',
                'is-bg-warning'
                ],[
                'is-bg-danger',
                'is-bg-light',
                'is-bg-dark'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Fonts',
                swatchType: 'typography',
                rows: [
                [
                'is-proxima-nova-bold',
                'is-proxima-nova-regular',
                'is-eames-century-modern-regular'
                ],
                [
                'is-family-sans-serif',
                'is-family-serif'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Nav Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__nav-item--label'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Favorites Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__favorites--label'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Hero Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__hero--headline',
                'type__hero--content'
                ]
                ]
                } only %}


                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Featured Projects Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__featured-projects--headline'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Featured Project Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__featured-project--title',
                'type__featured-project--callout',
                'type__featured-project--details'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Primary CTA Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__primary--cta'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Content Tile Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__content-tile--primary-heading',
                'type__content-tile--secondary-heading',
                'type__content-tile--content'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Callout Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__callout--heading',
                'type__callout--content'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Contact Us Section Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__contact-us-section--heading',
                'type__contact-us-section--content'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Footer Signup Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__footer-signup--heading',
                'type__footer-signup--content'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Footer Links Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__footer--links'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Footer Copy Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__footer--copy'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Property Page Heading Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__property-page--headline',
                'type__property-page--subheading',
                'type__property-page--bold-subheading'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Property Page Info Table Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__property-info--table-header',
                'type__property-info--table-cell'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Property Page Description Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__property-description--header',
                'type__property-description--content',
                'type__property-description--subheading',
                'type__property-description--info'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Property Page Description Toggle Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__property-description--toggle'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Content Section Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__content-section--heading',
                'type__content-section--content'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Data Section Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__data-section--heading',
                'type__data-section--content',
                'type__data-section--value',
                'type__data-section--label'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Affiliations Section Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__affiliations-section--heading',
                'type__affiliations-section--content'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Contact Form Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__contact-form--heading',
                'type__contact-form--label'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Contact Info Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__contact-info--heading',
                'type__contact-info--subheading',
                'type__contact-info--content'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Blog Post Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__blog-post--headline',
                'type__blog-post--subheading',
                'type__blog-post--author',
                'type__blog-post--date'
                ],[
                'type__blog-post--image-caption',
                'type__blog-post--content',
                'type__blog-post--quotation',
                'type__blog-post--tags-heading'
                ],[
                'type__blog-post--tag'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Media Tile Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__media-tile--heading-featured',
                'type__media-tile--heading',
                'type__media-tile--date',
                'type__media-tile--caption'
                ]
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Pagination Typography',
                swatchType: 'typography',
                rows: [
                [
                'type__pagination--page-number'
                ]
                ]
                } only %}

            </div>
        </div>
    </div>
{% endblock %}
