{% set halfRowCard = 'is-6' %}
{% set iconCardType = 'icon' %}
{% set typographyCardType = 'typography' %}
{% set colorCardType = 'color' %}
{% set darkBgColor = 'is-bg-blue-dark' %}

{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">

                <div class="columns">
                    <div class="column content">
                        <h1>Style Guide</h1>
                        <hr>
                        {{ page.content }}
                    </div>
                </div>

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Logos',
                cardsPerRow: 2,
                cards: [
                {
                cardType: iconCardType,
                iconId: 'icon__logo--header',
                columnClass: halfRowCard
                },{
                cardType: iconCardType,
                iconId: 'icon__logo--footer',
                columnClass: halfRowCard,
                colorClass: darkBgColor
                }
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Icons',
                cards: [
                {
                cardType: iconCardType,
                iconId: 'icon__arrow-back'
                },{
                cardType: iconCardType,
                iconId: 'icon__arrow-forward'
                },{
                cardType: iconCardType,
                iconId: 'icon__favorite'
                },{
                cardType: iconCardType,
                iconId: 'icon__favorite-selected'
                },{
                cardType: iconCardType,
                iconId: 'icon__favorite-unselected'
                },{
                cardType: iconCardType,
                iconId: 'icon__filter'
                },{
                cardType: iconCardType,
                iconId: 'icon__grid'
                },{
                cardType: iconCardType,
                iconId: 'icon__hamburger-nav'
                },{
                cardType: iconCardType,
                iconId: 'icon__link'
                },{
                cardType: iconCardType,
                iconId: 'icon__mail'
                },{
                cardType: iconCardType,
                iconId: 'icon__map'
                }
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Named Colors',
                cards: [
                {
                cardType: colorCardType,
                colorClass: 'is-bg-blue-dark'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-blue-light'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-blue-tiffany'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-gold'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-gold-light'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-cream'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-olive'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-white'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-black'
                }
                ]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Contextual Colors',
                cards: [{
                cardType: colorCardType,
                colorClass: 'is-bg-primary'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-info'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-success'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-warning'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-danger'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-light'
                },{
                cardType: colorCardType,
                colorClass: 'is-bg-dark'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Fonts',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'is-proxima-nova-bold'
                },{
                cardType: typographyCardType,
                typographyClass: 'is-proxima-nova-regular'
                },{
                cardType: typographyCardType,
                typographyClass: 'is-eames-century-moder-regular'
                },{
                cardType: typographyCardType,
                typographyClass: 'is-family-sans-serif'
                },{
                cardType: typographyCardType,
                typographyClass: 'is-family-serif'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Nav Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__nav-item--label'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Favorites Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__favorites--label'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Hero Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__hero--headline'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__hero--content'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Featured Projects Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__featured-projects--headline'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Featured Project Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__featured-project--title'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__featured-project--callout'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__featured-project--details'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Primary CTA Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__primary--cta'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Content Tile Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__content-tile--primary-heading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__content-tile--secondary-heading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__content-tile--content'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Callout Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__callout--heading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__callout--content'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Contact Us Section Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__contact-us-section--heading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__contact-us-section--content'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Footer Signup Section Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__footer-signup--heading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__footer-signup--content'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Footer Links Section Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__footer--links'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Footer Copy Section Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__footer--copy'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Property Page Heading Section Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__property-page--headline'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__property-page--subheading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__property-page--bold-subheading'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Property Page Info Table Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__property-info--table-header'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__property-info--table-cell'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Property Page Description Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__property-description--header'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__property-description--content'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__property-description--subheading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__property-description--info'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Property Page Description Toggle Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__property-description--toggle'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Content Section Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__content-section--heading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__content-section--content'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Data Section Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__data-section--heading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__data-section--content'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__data-section--value'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__data-section--label'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Affiliations Section Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__affiliations-section--heading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__affiliations-section--content'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Contact Form Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__contact-form--heading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__contact-form--label'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Contact Info Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__contact-info--heading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__contact-info--subheading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__contact-info--content'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Blog Post Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__blog-post--headline'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__blog-post--subheading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__blog-post--author'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__blog-post--date'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__blog-post--image-caption'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__blog-post--content'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__blog-post--quotation'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__blog-post--tags-heading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__blog-post--tag'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Media Tile Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__media-tile--heading-featured'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__media-tile--heading'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__media-tile--date'
                },{
                cardType: typographyCardType,
                typographyClass: 'type__media-tile--caption'
                }]
                } only %}

                {% include 'partials/style-guide/section.html.twig' with {
                sectionTitle: 'Pagination Typography',
                cards: [{
                cardType: typographyCardType,
                typographyClass: 'type__pagination--page-number'
                }]
                } only %}

            </div>
        </div>
    </div>
{% endblock %}
