@function theme_font_url($font-name)
    @return "../../fonts/#{$font-name}.otf"

@mixin font_face($font-name, $font-weight: normal, $font-style: normal)
    @font-face
        font-family: $font-name
        font-style: $font-style
        font-weight: $font-weight
        src: url(theme_font_url($font-name))

$proxima-nova-bold: "ProximaNova-Bold"
$proxima-nova-bold-family: $proxima-nova-bold, sans-serif
@include font_face($proxima-nova-bold, bold)

$proxima-nova-regular: "ProximaNova-Reg"
$proxima-nova-regular-family: $proxima-nova-regular, sans-serif
@include font_face($proxima-nova-regular)

$gotham-bold: "Gotham-Bold"
$gotham-bold-family: $gotham-bold, sans-serif
@include font_face($gotham-bold, bold)

$gotham-medium: "Gotham-Medium"
$gotham-medium-family: $gotham-medium, sans-serif
@include font_face($gotham-medium)

$eames-century-modern-regular: "EamesCenturyModern-Regular"
$eames-century-modern-regular-family: $eames-century-modern-regular, serif
@include font_face($eames-century-modern-regular)



// Typography

$family-sans-serif: $proxima-nova-regular-family
$family-serif: $eames-century-modern-regular-family
$family-monospace: monospace
$render-mode: optimizeLegibility

$size-1: 3rem
$size-2: 2.5rem
$size-3: 2rem
$size-4: 1.5rem
$size-5: 1.25rem
$size-6: 1rem
$size-7: 0.75rem

$weight-light: 300
$weight-normal: 400
$weight-medium: 500
$weight-semibold: 600
$weight-bold: 700
