@function theme_font_url($font-name)
    @return "../../fonts/#{$font-name}.otf"

@mixin font_face($font-name, $font-weight: normal, $font-style: normal)
    @font-face
        font-family: $font-name
        font-style: $font-style
        font-weight: $font-weight
        src: url(theme_font_url($font-name))

$proxima-nova-bold: "ProximaNova-Bold"
$proxima-nova-bold-family: $proxima-nova-bold, sans-serif
@include font_face($proxima-nova-bold, bold)

$proxima-nova-regular: "ProximaNova-Reg"
$proxima-nova-regular-family: $proxima-nova-regular, sans-serif
@include font_face($proxima-nova-regular)

$eames-century-modern-regular: "EamesCenturyModern-Regular"
$eames-century-modern-regular-family: $eames-century-modern-regular, serif
@include font_face($eames-century-modern-regular)
