@function theme_font_url($font-name, $file-type)
    @return "../../fonts/#{$font-name}.#{$file-type}"

@mixin font_face($font-name, $font-family, $font-weight: normal, $font-style: normal, $file-type: "otf")
    @font-face
        font-family: $font-family
        font-style: $font-style
        font-weight: $font-weight
        src: url(theme_font_url($font-name, $file-type))

$proxima-nova-bold: "ProximaNova-Bold"
$proxima-nova-bold-family: $proxima-nova-bold, sans-serif

$proxima-nova-regular: "ProximaNova-Reg"
$proxima-nova-regular-family: $proxima-nova-regular, sans-serif

$eames-century-modern-regular: "EamesCenturyModern-Regular"
$eames-century-modern-regular-family: $eames-century-modern-regular, serif

$icon-font: "lwr-commercial-icons"
$icon-font-family: $icon-font

@include font_face($icon-font, $icon-font-family, normal, normal, "ttf")

$family-sans-serif: $proxima-nova-regular-family
$family-serif: $eames-century-modern-regular-family
$family-monospace: monospace

$family-primary: $family-sans-serif
$family-code: $family-monospace

$fonts: ("primary": $family-primary, "proxima-nova-bold": $proxima-nova-bold-family, "proxima-nova-regular": $proxima-nova-regular-family, "eames-century-modern-regular": $eames-century-modern-regular-family)

@each $name, $family in $fonts
    @include font_face($name, $family)
    .is-#{$name}
        font-family: $family
