.is-rounded
    border-radius: 50%

// Font Families

.is-proxima-nova-bold
    font-family: $proxima-nova-bold-family

.is-proxima-nova-regular
    font-family: $proxima-nova-regular-family

.is-eames-century-modern-regular
    font-family: $eames-century-modern-regular-family

.is-family-serif
    font-family: $family-serif

.is-family-sans-serif
    font-family: $family-sans-serif
