$control-radius: $radius
$control-radius-small: $radius-small
$control-padding-vertical: calc(0.375em - 1px)
$control-padding-horizontal: calc(0.625em - 1px)
$label-color: $grey-darker
$label-weight: $weight-bold
$help-size: $size-small

$input__padding-left: 33px
$input__padding-left--mobile: 25px
.input__padding
    padding-left: $input__padding-left
    @include break-max($tablet)
        padding-left: $input__padding-left--mobile

$input__height: 60px
$input__height--mobile: 45px
$input__width: 100%
.input__size
    height: 60px
    width: 100%
    @include break-max($tablet)
        height: 45px

.input
    &.is-primary, &.is-primary-invert
        @extend .type__placeholder
        @extend .input__padding
        @extend .input__size

.textarea
    &.is-primary-invert
        @extend .type__placeholder
        resize: none

@mixin select-arrow()
    &:not(.is-multiple)
        &::before
            content: ''
            width: $input__height
            height: 100%
            background-color: $primary-invert
            position: absolute
            right: 0
            pointer-events: none
            z-index: 1
            @include break-max($tablet)
                width: $input__height--mobile
        &::after
            border: 2px solid $white
            border-right: 0
            border-top: 0
            height: 9px
            width: 9px
            margin-top: -6px
            margin-right: 6px
            @include break-max($tablet)
                height: 7px
                width: 7px
                margin-top: -5px
                margin-right: 0

.select
    select:required:invalid
        color: gray
    option
        &[value=""][disabled]
            display: none
    &.is-primary-invert
        @include select-arrow
        @extend .input__size
        &:not(.is-multiple)
            @extend .input__size
        select
            @extend .input__size
            @extend .input__padding
            @extend .type__placeholder
            color: $primary
