$control-radius: $radius
$control-radius-small: $radius-small
$control-padding-vertical: calc(0.375em - 1px)
$control-padding-horizontal: calc(0.625em - 1px)
$label-color: $grey-darker
$label-weight: $weight-bold
$help-size: $size-small

$input__padding-left: 33px
$input__padding-left--mobile: 25px
.input__padding
    padding-left: $input__padding-left
    @include break-max($tablet)
        padding-left: $input__padding-left--mobile

$input__height: 60px
$input__height--mobile: 45px
$input__width: 100%
.input__size
    height: 60px
    width: 100%
    @include break-max($tablet)
        height: 45px

@mixin select-arrow($color, $size: 16px, $margin-top: -13px, $border-width: 1px)
    &:not(.is-multiple)::after
        border: $border-width solid $color
        border-right: 0
        border-top: 0
        height: $size
        width: $size
        margin-top: $margin-top

.input
    &.is-primary, &.is-primary-invert
        @extend .type__placeholder
        @extend .input__padding
        @extend .input__size

.textarea
    &.is-primary-invert
        @extend .type__placeholder
        resize: none

.select
    select:required:invalid
        color: gray
    option
        &[value=""][disabled]
            display: none
    &.is-primary-invert
        @extend .input__size
        @include select-arrow($primary-invert)
        &:not(.is-multiple)
            @extend .input__size
        select
            @extend .input__size
            @extend .input__padding
            @extend .type__placeholder
            color: $primary

