@mixin break-max($size)
    @media only screen and (max-width: $size - 1)
        @content

@mixin break-min($size)
    @media only screen and (min-width: $size)
        @content

@mixin responsive-asp-ratio($width, $height)
	$asp-percentage: percentage($height / $width);
	padding-top: $asp-percentage;
	position: relative;
	img 
		position: absolute;
		top: 0;
		left: 0;
		font-family: 'object-fit: cover;'; 
		width: 100%;

	@supports (object-fit: cover) 
		img 
			object-fit: cover;