{% set iconFavId = 'icon__favorite-selected' %}
{% set iconFavUnselectId = 'icon__favorite-unselected' %}
{% set iconTemplate = 'partials/svg-icon.html.twig' %}

<div class="favorite-icon-container" v-show="loaded">
    <div v-show="isFavorite" v-on:click="toggleFavorite">
        {% include iconTemplate with { iconId: iconFavId } only %}
    </div>
    <div v-show="!isFavorite" v-on:click="toggleFavorite">
        {% include iconTemplate with { iconId: iconFavUnselectId } only %}
    </div>
</div>
