{% set favoriteIconTemplate = 'components/favorite-icon.html.twig' %}
<featured-project inline-template>
    <article class="featured-project is-child is-bg-cream">
        {% include favoriteIconTemplate with { id: id } only %}
        <figure class="image is-4by3">
            <img src="{{ propImg }}">
        </figure>
        <div class="prop-description">
            <p class="prop-title">{{ propTitle }}</p>
            <p class="subtitle">{{ propSubTitle }}</p>
            <p class="details">{{ propDetails }}</p>
        </div>
    </article>
</featured-project>
