{% set filterTemplate =  'components/property-filter.html.twig' %}
{% set arcMapTemplate = 'components/arcmap.html.twig' %}
{% set propertyListGridTemplate = 'components/property-list-grid.html.twig' %}
{% set propertyListTableTemplate = 'components/property-list-table.html.twig' %}
<div class="property-aggregate-container">
    {% if customFilter %}
        <meta name="custom-filter-field" content="{{ customFilter.field }}" />
        <meta name="custom-filter-value" content="{{ customFilter.value }}" />
        <meta name="custom-filter-label" content="{{ customFilter.label }}" />
    {% endif %}
    <property-filter
        :apply-filter-event="applyFilterEvent"
        :custom-filter="customFilter"
        :enumerable-type="enumerableType"
        :event-bus="eventBus"
        :filter="filter"
        :filter-value="filterValue"
        :filters="filters"
        :grid-view="gridView"
        :list-view="listView"
        :list-view-change-event="listViewChangeEvent"
        :range-type="rangeType"
        :table-view="tableView"
        inline-template>
        {% include filterTemplate with {} only %}
    </property-filter>
    <arcmap
        :collection="collection"
        inline-template>
        {% include arcMapTemplate with {} only %}
    </arcmap>
    <property-list-grid v-if="showGrid"
                   :collection="collection"
                   :row-length="gridItemsInRow"
                   inline-template>
        {% include propertyListGridTemplate with {} only %}
    </property-list-grid>
    <property-list-table v-if="showTable"
                         :collection="collection"
                         inline-template>
        {% include propertyListTableTemplate with {} only %}
    </property-list-table>
</div>
