<section class="property-gallery">
    <div class="container is-fluid">
        <div class="columns is-gapless">
            <div class="column">
                <figure class="image is-4by3">
                    <img src="http://via.placeholder.com/580x350">
                </figure>
            </div>
            <div class="column">
                <figure class="image is-4by3">
                    <img src="http://via.placeholder.com/580x350">
                </figure>
            </div>
            <div class="column">
                <figure class="image is-4by3">
                    <img src="http://via.placeholder.com/580x350">
                </figure>
            </div>
        </div>
    </div>
</section>
