{% set filterTemplate =  'components/property-filter.html.twig' %}
{% set arcMapTemplate = 'components/arcmap.html.twig' %}
{% set propertyListTemplate = 'components/property-list.html.twig' %}
{% set propertyListTableTemplate = 'components/property-list-table.html.twig' %}
<property-aggregate inline-template>
    <div class="property-aggregate-container">
        {% include filterTemplate with {} only %}
        {% include arcMapTemplate with {} only %}
        <property-list v-if="showGrid" :properties="collection" :items-in-row="gridItemsInRow" inline-template>
            {% include propertyListTemplate with {} only %}
        </property-list>
        <property-list-table v-if="showTable" :collection="collection" inline-template>
            {% include propertyListTableTemplate with {} only %}
        </property-list-table>
    </div>
</property-aggregate>
