{% set filterTemplate =  'components/property-filter.html.twig' %}
{% set arcMapTemplate = 'components/arcmap.html.twig' %}
{% set propertyListGridTemplate = 'components/property-list-grid.html.twig' %}
{% set propertyListTableTemplate = 'components/property-list-table.html.twig' %}
<div class="property-aggregate-container">
    <property-filter
        :apply-filter-event="applyFilterEvent"
        :event-bus="eventBus"
        :filters="filters"
        :grid-view="gridView"
        :list-view-change-event="listViewChangeEvent"
        :list-view="listView"
        :table-view="tableView"
        inline-template>
        {% include filterTemplate with {} only %}
    </property-filter>
    <arcmap
        :collection="collection"
        inline-template>
        {% include arcMapTemplate with {} only %}
    </arcmap>
    <property-list-grid v-if="showGrid"
                   :collection="collection"
                   :row-length="gridItemsInRow"
                   inline-template>
        {% include propertyListGridTemplate with {} only %}
    </property-list-grid>
    <property-list-table v-if="showTable"
                         :collection="collection"
                         inline-template>
        {% include propertyListTableTemplate with {} only %}
    </property-list-table>
</div>
