<div class="column is-3">
    {% embed 'partials/card.html.twig' with { 'cardClass': 'type-swatch'} %}
        {% block card_content %}
            {% include 'partials/type/example.html.twig' with { 'typeClass': typeClass} %}
        {% endblock %}
    {% endembed %}
</div>
