.callouts
    display: flex
    justify-content: center
    @extend .is-bg-blue-light
    padding: 5em 0
    .content-wrapper
        width: 1100px
    h2, h2 a
        @extend .is-uppercase
        @extend .type__callout--heading
        color: $blue-dark;
    p, p a
        @extend .type__callout--content
        color: $blue-dark;
    .callout-container
        border-left: 3px solid $blue-tiffany
        padding: 15px 60px 15px 40px
        min-height: 125px
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:hover
            h2 a, p a
                color: $blue-tiffany;
        @include break-max($widescreen)
            padding: 0 40px 0 40px
        @include break-max($tablet)
            margin-left: 45px
            margin-bottom: 40px