.card.color-swatch
    .card-image
        figure
            margin-left: 0
            margin-right: 0
    .card-content
        text-align: center

.card.font-swatch
    min-height: 175px
    .card-content
        text-align: center
