.card.color-style
    .card-image
        figure
            margin-left: 0
            margin-right: 0
    .card-content
        text-align: center

.card.font-style
    min-height: 175px
    .card-content
        text-align: center

.card.icon-style, .card.button-style
    .card-image
        display: flex
        justify-content: center

