.hero.lwrc
    background: rgba(36, 55, 70, 0.6)
    color: #ffffff
    text-align: center
    height: 529px // workaround for IE 11 align-items center with a min-height bug
    min-height: 530px
    justify-content: center
    align-items: center
    flex-direction: column
    position: relative
    flex-wrap: wrap
    @include break-max($tablet)
        min-height: 400px
        height: auto
    .hero-p
        padding: 2em 0 0
        max-width: 60rem
        margin: 0 auto
        word-wrap: break-word
        text-shadow: 2px 2px 9px #000;
        // &:after
        //     @include hero-arrow-down
    .scroll-down
        width: 60px;
        height: 60px;
        bottom: 0;
        margin: 0 auto;
        cursor: pointer;
        display: block;
        
    &:not(.disable-arrow) .scroll-down:after
        @include hero-arrow-down

    .hero-body
        flex-shrink: 1
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    h1
        @extend .is-uppercase
        color: $white
        text-shadow: 2px 2px 9px #000;
body
    .hero.lwrc.nofound:after
        display: none